@media screen and (max-width: 800px) {   
  .App {
    margin: 0 auto;
  }

  .content {
    /* height: 196px;
    width: 196px; */
    height: auto;
    width: 100%;
    /* border: 10px rgba(0, 0, 0, 0.2) */
  }

  /* .parent-container {
    display: grid;
    margin-left: 0px auto;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  } */
}

@media screen and (min-width: 1920px) {
  .App {
    display: block;
    text-align: center;
    margin-left: 13%;
    margin-right: 10%;
  }

  .content {
    /* box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);  */
    /* height: 400px;
    width: 400px; */
    height: auto;
    width: 100%;
    /* margin-top: 15px; */
    text-align: center;
    /* margin: 0px auto; */
    /* margin: 5px; */
  }

  /* .parent-container {
    display: grid;
    gap: 0px;
    column-gap: 0;
    padding: 100px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  } */
  
  .full-img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    object-fit: contain;
    margin: 0 auto !important;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /*  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  /* padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: rgb(247, 180, 105); */
  /* margin-bottom: 30px; */
}