.App {
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 15%;
}

@media screen and (max-width: 400px) {   
  .App {
    margin: 0 auto;
    text-align: start;
  }

  .content {
    height: 300px;
    width: 300px;
    margin: 0px auto;
  }

  .parent-container {
    display: grid;
    margin-left: 0px auto;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.content {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  /* margin: 5px; */
}