@media screen and (max-width: 800px) {   
  .App {
    margin: 0 auto;
  }

  .content {
    height: 196px;
    width: 196px;
    border: 10px rgba(0, 0, 0, 0.2)
  }

  .parent-container {
    display: grid;
    margin-left: 0px auto;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .App {
    display: block;
    text-align: center;
    margin-left: 13%;
    margin-right: 10%;
  }

  .content {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2); 
    height: 400;
    width: 400;
    margin-top: 15px;
    text-align: center;
    /* margin: 0px auto; */
    /* margin: 5px; */
  }

  .parent-container {
    display: grid;
    gap: 0px;
    column-gap: 0;
    padding: 100px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}